.file-form {
    width: 100vw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.file-form__input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    width: 300px;
}

.file-form__input {
    background-color: transparent;

    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 12px;

    width: 100%;
}

.file-form__button {
    background-color: transparent;

    border: 1px solid black;
    border-radius: 5px;

    padding: 5px 10px;
}
.file-form__button:hover {
    opacity: .8;
}